:root {
  --color-bg-primary: rgb(15, 10, 20);

  --color-text-primary: rgb(245, 235, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}
body {
  overflow-x: hidden;
  scroll-snap-align: unset;
  scroll-snap-stop: unset;
  background-color: var(--color-bg-primary);
}

* {
  scroll-behavior: smooth;
}
